ol.page_numbers {
    display: flex;
    background-color: var(--color1);
    font-size: 3rem;
    margin: auto;
    max-width: 80%;
    overflow: auto;
    padding: 1rem 0;
    width: fit-content;
    filter: drop-shadow(0 0 .2rem silver);
}

ol.page_numbers>li {
    margin: 0 1rem;
    padding: 2rem;
    box-sizing: border-box;
    opacity: .25;
}

ol.page_numbers>li.active {
    margin: 0 1rem;
    padding: 2rem;
    box-sizing: border-box;
    opacity: 1;
    border: 0.1rem ridge var(--color2);

}

div.nav {
    display: flex;
    height: 7rem;
    background-color: var(--color4);
    justify-content: space-evenly;
    width: 100%;
}

div.nav>button {
    background-color: initial;
    border: 0.25rem solid transparent;
    color: #fff;
    font-family: Ubuntu Mono, sans-serif;
    font-size: 3rem;
    opacity: .75;
    padding: 0.25rem;
}

div.nav>div {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    align-items: center;
    position: relative;
}

div.nav>button.active {
    border: 0.25rem solid var(--color2);
    color: var(--color2);
    opacity: 1;
}

div.secondary.nav p.username {
    font-family: var(--font2);
    color: var(--te);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    width: 100%;
}

div.secondary.nav p.username:hover {
    overflow: visible;
    position: absolute;
    z-index: 2;
    background-color: black;
    width: fit-content;
    
}

div.nav>div>span {
    width: 40%;
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

div.nav>div>button {
    height: 100%;
    font-size: inherit;
    font-family: var(--font1);
    background-color: transparent;
    color: grey;
    border: none;
    width: 30%;
}

div.nav>div>button.active {
    height: 100%;
    font-size: inherit;
    font-family: var(--font1);
    background-color: transparent;
    color: var(--color2);
    border: none;
    box-shadow: inset 0 0 1rem var(--color2);
}

div.timestamp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

div.trade_manager>div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

div.trade_manager>div:last-of-type {
    margin: 2rem 0;
}

td.value {
    font-family: 'Monomaniac One', sans-serif;
    font-size: 2.5rem;
}

p.value,
p.trend {

    font-family: 'Monomaniac One', sans-serif;

    filter: contrast(1.25);
    background-image: radial-gradient(var(--wr) -250%, var(--color4) 100%);
    padding: 1rem;
    font-size: 2.5rem;
}

table {
    table-layout: fixed;
    width: 100%;
    max-width: 1500px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    font-size: 3rem;
}

table.half {
    display: inline-table;
    width: 50%;
    vertical-align: top
}

table.half,
table.half table {
    font-size: 2.75rem;
}

table.body>tbody:last-child {
    filter: drop-shadow(0 0 2rem var(--color2));
}

div.nav,
thead {
    filter: drop-shadow(0 0 1rem silver);
}

tr.active table.trade_summary table.body>tbody>tr>td {
    box-shadow: inset 0 0 3rem var(--color2);
}

th,
td {
    height: 7rem;
    white-space: nowrap;
}

th {
    box-shadow: inset 0 0 .1rem black;
}

th.half {
    height: 3.5rem;
}

th>em:last-of-type {
    float: right;
}

th>em:only-child {
    float: unset;
}

div.sort {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


div.sort>i.fa-sort {
    color: var(--color2);
    font-size: 3rem;
    position: absolute;
    right: 0;
    padding: 2rem;
    z-index: 2;
}

tr.active_wrapper {
    box-shadow: 0 0 1rem white;
}

td {
    box-shadow: inset 0 0 1rem var(--color4);
    text-shadow: 0 0 .5rem black;
    font-weight: 100;
}

th>div.flex,
td>div.flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

div.flex>p,
div.flex>em {
    width: 50%;
}

td.red.check,
td.green.check,
p.stat.check {
    font-size: 4rem;
}

td.red,
td.green,
td.greenb,
td.redb {
    font-weight: 900;
}

td.greenb,
td.redb {
    font-size: 5rem;
}

tr.active>td.redb,
td.redb {
    background-image: radial-gradient(black -50%, rgb(255, 0, 0) 100%) !important;
    position: relative;
}

tr.active>td.greenb,
td.greenb {
    background-image: radial-gradient(black -50%, rgb(0, 255, 0) 100%) !important;
    position: relative;
}

.fa-trophy,
.fa-poop {
    font-size: 50%;
    position: absolute;
    top: .25rem;
    right: .25rem;
}

.fa-poop {
    color: rgb(97, 39, 0);
    text-shadow: 0 0 1rem white;
}

.fa-trophy {
    color: goldenrod;
    text-shadow: 0 0 1rem black;
}

div.nav>button.sync {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    opacity: 1;
    width: 10%;
}

i.fa-arrows-rotate {
    color: var(--color2);
    filter: brightness(2) drop-shadow(0 0 .5rem var(--te));
    border-radius: 50%;
    position: absolute;
    font-size: 7rem;

}

table.body td {
    padding: .5rem;
}

table.body td.left {
    padding: 0 0.5rem;
    text-align: left;
    white-space: nowrap;
}

table.body td.left>p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0 1rem 0 0;
}

table.body td.left:hover>p {
    overflow: visible;
    width: fit-content;
    position: relative;
    z-index: 2;
    background-color: black;
    box-shadow: 0 0 1rem white;
    padding-right: 2rem;
}

table.body td.left:last-child:hover {
    direction: rtl;
}

table.body td.left:last-child:hover>p {
    direction: ltr;
}

th.small,
td.small {
    font-size: 75%;
}

td.type {
    color: var(--te);
    font-family: var(--font2);
    font-size: 75%;
}




tr.active>td {
    background-image: radial-gradient(var(--color4) -50%, var(--color2) 100%) !important;
    box-shadow: inset 0 0 2rem black;
}





table.trade_summary>tbody:first-of-type>tr:first-of-type {
    filter: drop-shadow(0 0 1rem white);
}

table#trades tr.active {
    filter: none;
    position: static;
}

table#trades tr.active>td>p>img.thumbnail {
    filter: none;
}


table.trade_summary td {
    box-shadow: inset 0 0 3rem black;
}

th>select {
    background-image: inherit;
    color: var(--color2);
    text-align: center;
    border: none;
    font-family: var(--font3);
    background-color: black;
    height: 100%;
    font-size: inherit;
}

th.left {
    padding: 0;
}

th>p.select {
    font-family: var(--font2);
    font-size: inherit;
    width: 100%;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    z-index: 0;
}

th>p.select>select.hidden_behind {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--color6);
    font: inherit;
    color: white;
}


td.left:hover>p>span.end {}



table.primary {}

table.primary>thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

table.primary tr.active {
    position: sticky;
    top: 7rem;
    z-index: 9;
}

div.secondary.nav {
    position: sticky;
    top: 14rem;
    z-index: 8;
}

table#trades div.secondary.nav {
    position: sticky;
    top: 7rem;
    z-index: 8;
}

table.secondary>thead {
    position: sticky;
    top: 21rem;
    z-index: 7;
}

table#trades table.secondary>thead {
    position: sticky;
    top: 14rem;
    z-index: 7;
}

table.secondary tr.active {
    position: sticky;
    top: 28rem;
    z-index: 6;
}

table.primary table.half,
table.primary table.half>thead {
    position: sticky;
    top: 21rem;
    z-index: 5;
}

table#trades table.half,
table#trades table.half>thead {
    position: sticky;
    top: 14rem;
    z-index: 5;
}

table.primary table.half tr.active_wrapper {
    position: sticky;
    top: 28rem;
    z-index: 4;
}

table#trades table.half tr.active_wrapper {
    position: sticky;
    top: 21rem;
    z-index: 4;
}

table.secondary table.half,
table.secondary table.half>thead {
    position: sticky;
    top: 35rem;
    z-index: 5;
}


table.secondary table.half tr.active_wrapper {
    position: sticky;
    top: 42rem;
    z-index: 4;
}


table.primary th {
    background-image: radial-gradient(white -250%, black 100%);
}

table.primary td {
    background-image: radial-gradient(var(--wr) -200%, #000 150%);
}


table.secondary {}

table.secondary th {}

table.secondary td {
    background-image: radial-gradient(#000 -500%, rgb(38, 40, 50) 150%);
    box-shadow: inset 0 0 3rem black;
}

table.secondary.half td,
table.half:first-child td {
    background-image: radial-gradient(#000 -50%, orchid 250%);
}


table.half:last-child td {
    background-image: radial-gradient(green -250%, #000 250%);
}


table.tertiary {}

table.tertiary th {}

table.tertiary td {}