table.summary {
    width: 50rem;
    box-shadow: 0 0 3rem white;
    filter: brightness(2) contrast(2);
    font-size: 3rem;
}

table.summary tr {
    filter: drop-shadow(0 0 2rem black);
    filter: contrast(2);
}

table.summary tr:first-child th {
    letter-spacing: 1rem;
    color: var(--color2);

}

table.summary th,
table.summary td {
    background-image: radial-gradient(var(--color3) 0%, var(--color6) 250%);
    text-shadow: 0 0 1rem black;
}

table.summary th {}

table.summary td {
    font-family: var(--font4);
    letter-spacing: .5rem;
}

h1>select,
h2>select {
    font: inherit;
    color: inherit;
    background-color: var(--color6);
    text-align: center;
    width: fit-content;
    box-shadow: inset 0 0 2.5rem var(--color2), 0 0 1rem var(--te);
    text-shadow: 0 0 .5rem black;
    padding: 1rem 0;
}

span.player_inj_status {
    color: rgb(255, 0, 0);
    font-family: var(--font3);
    font-weight: 900;
    position: absolute;
    top: 0;
    right: 0;
}

p.score,
em.score {
    font-family: var(--font4);
    font-weight: 100;
    text-shadow: 0 0 1rem black;
}

th p.score {
    letter-spacing: .5rem;
}

th em.score {
    font-weight: 900;
}

 em.score {
    font-family: var(--font2);

    letter-spacing: .5rem;
    color: darkgrey;
}

th.half:nth-child(2) div.flex {
    box-shadow: inset 0 0 2rem gold;
}

th.half p.score,
th.half p.median,
th.half em.score {
    font-size: 2.5rem;
    font-weight: 100;
}

p.median {
    color: gold;
    background-color: black;
    display: block;
    width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    padding: .5rem 1rem;
    box-shadow: 0 0 1rem gold;
}

div.flex>p,
div.flex>em {
    box-shadow: 0 0 1rem black;
}

div.flex.pregame>p.score {
    box-shadow: inset 0 0 3rem grey;
}

div.flex.ingame>p.score {
    box-shadow: inset 0 0 3rem goldenrod;
}

div.flex.postgame>p.score {
    box-shadow: inset 0 0 3rem rgb(0, 255, 0);
}